@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap); 


.main-wrap {
    padding-top: 1rem;
}

body {
    background-image: url('./img/spaceBg.png') !important;
    background-size: cover;
}

.P2F {
    font-family: 'Press Start 2P', cursive !important;
}

.sz10 {
    font-size: 10px !important;
}

.non-btn {
    cursor: default !important;
    pointer-events: none;
}

.catImgCol {
    display: flex;
    background-color: white;
}

.catImg {
    max-height: 182px !important;
    margin-top: 2rem;
    width: auto;
}

.showAllForm {
    position: absolute !important;
    bottom: 0rem;
}

.click-icon {
    cursor: pointer;
    padding: .25rem;
    padding-left: 0rem;
    transition: .15s all;
    &:hover {
        color: rgba(133,133,133,.75);
    }
    i {
        margin-left: .25rem !important;
    }
}

.icon-link {
    color: black;
    &:hover {
        color: rgba(133,133,133,.75);
    }
}

.close-tr-x {
    position: absolute;
    top: 1rem;;
    right: 1rem;
    cursor: pointer;
    &:hover {
        color: rgba(133,133,133,.75);
    }
}

.nm-t {
    margin-top: 0rem !important;
}

.pt-1 {
    padding-top: 0rem !important;
}